{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{ site_title|default:_('OpCMS') }}{% endblock %}

{% block branding %}
<img src="{% static "css/img/white-opcms.svg" %}" width="141" height="40" alt="">
<!--<h1 id="site-name"><a href="{% url 'dashboard:index' %}">{{ site_header|default:_('OPCMS') }}</a></h1>-->
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'dashboard:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'employee:index' %}">人力资源</a>
&rsaquo; <a href="/#">固定资产</a>
</div>
{% endblock %}

