{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/opcms.css" %}" />
{% endblock %}

{% block bodyclass %}{{ block.super }}dashboard00{% endblock %}
{% block coltype %}colSM{% endblock %}


{% block content %}
<div id="content-main">
欢迎登录OPCMS管理系统！

</div>{% endblock %}


{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>我的工作</h2>
        <h3>{% trans 'My actions' %}</h3>

            <ul class="actionlist">


            <li class="addlink">
                    <a href="/employee/">人力资源管理</a>
                <br/>
                    <span class="mini quiet">人力资源</span>
            </li>

                <li class="addlink">
                    <a href="/admin/organization/company/1/change/">固定资产管理</a>
                <br/>
                    <span class="mini quiet">固定资产管理</span>
            </li>




            <!--<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">-->
                <!--{% if entry.is_deletion or not entry.get_admin_url %}-->
                    <!--{{ entry.object_repr }}-->
                <!--{% else %}-->
                    <!--<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>-->
                <!--{% endif %}-->
                <!--<br/>-->
                <!--{% if entry.content_type %}-->
                    <!--<span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>-->
                <!--{% else %}-->
                    <!--<span class="mini quiet">{% trans 'Unknown content' %}</span>-->
                <!--{% endif %}-->
            <!--</li>-->

            </ul>

    </div>
</div>
{% endblock %}

